{
  "extends": ["next", "prettier", "plugin:cypress/recommended"],
  "plugins": ["prettier", "simple-import-sort", "cypress"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": false,
        "tabWidth": 2
      }
    ]
  }
}
